



<div>
    <h4>User info.</h4>
    <p>
        Corret statements: @ViewBag.S 
        False statements: @ViewBag.F
    </p>
    <p>
           @{
			            	if (Session["token"] == null)
			            	{
			            	 
			                <input type="button" value="Login" data-toggle="modal" data-target="#login-modal" class="btn btn-default" />

			            	}
            }
    </p>
</div>
  
