



<div>
    <h4>User info.</h4>
    <p>
        Corret statements: @ViewBag.S 
        False statements: @ViewBag.F
        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.
    </p>
</div>
  
